Repository sensuikan1973/pedax, changes with the labels that .github/labeler.yml gives for each.
All labels: mac, linux, windows, website, libedax, GitHub Actions, codecov, documentation, fastlane

.github/labeler.yml:

---
mac:
  - changed-files:
      - any-glob-to-any-file: macos/**/*
      - any-glob-to-any-file: .github/scripts/macos/**/*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh
      - any-glob-to-any-file: .ruby-version

linux:
  - changed-files:
      - any-glob-to-any-file: linux/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: .github/scripts/linux/**/*

windows:
  - changed-files:
      - any-glob-to-any-file: windows/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: .github/scripts/windows/**/*

website:
  - changed-files:
      - any-glob-to-any-file: website/**/*

libedax:
  - changed-files:
      - any-glob-to-any-file: scripts/fetch_libedax_assets.sh
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: macos/libedax.universal.dylib

GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md

fastlane:
  - changed-files:
      - any-glob-to-any-file: macos/fastlane/**/*
      - any-glob-to-any-file: macos/Gemfile*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh

`file_selector_linux` no longer has to be directive dep (#2540)
  pubspec.lock
  pubspec.yaml
Labels: none

Prepare for new Release 6.81.0+179
  macos/fastlane/metadata/en-US/release_notes.txt
  macos/fastlane/metadata/ja/release_notes.txt
  pubspec.yaml
Labels: mac, fastlane

Prepare for new Release 6.81.0+179 (#2541)
  macos/fastlane/metadata/en-US/release_notes.txt
  macos/fastlane/metadata/ja/release_notes.txt
  pubspec.yaml
Labels: mac, fastlane

flutter pub upgrade --major-versions --tighten
  assets/libedax/dll/libedax-x64.dll
  assets/libedax/dll/libedax.so
  macos/libedax.universal.dylib
  pubspec.lock
  pubspec.yaml
Labels: mac, linux, windows, libedax

flutter pub upgrade --major-versions --tighten (#2543)
  assets/libedax/dll/libedax-x64.dll
  assets/libedax/dll/libedax.so
  macos/libedax.universal.dylib
  pubspec.lock
  pubspec.yaml
Labels: mac, linux, windows, libedax

Update deploy_macos_app_to_app_store.sh
  scripts/deploy_macos_app_to_app_store.sh
Labels: mac, fastlane

upgrade ruby and bundler version
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade ruby and bundler version (#2549)
  macos/Gemfile.lock
Labels: mac, fastlane

flutter pub upgrade --major-versions --tighten
  assets/libedax/dll/libedax-x64.dll
  assets/libedax/dll/libedax.so
  macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  macos/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  macos/libedax.universal.dylib
  pubspec.lock
  pubspec.yaml
Labels: mac, linux, windows, libedax

flutter pub upgrade --major-versions --tighten (#2550)
  assets/libedax/dll/libedax-x64.dll
  assets/libedax/dll/libedax.so
  macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  macos/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  macos/libedax.universal.dylib
  pubspec.lock
  pubspec.yaml
Labels: mac, linux, windows, libedax

Prepare for new Release 6.82.0+180
  pubspec.yaml
Labels: none

Prepare for new Release 6.82.0+180 (#2551)
  pubspec.yaml
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade nodejs version
  .node-version
Labels: none

upgrade bundler deps (#2552)
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build` (#2553)
  website/yarn.lock
Labels: website

upgrade nodejs version (#2554)
  .node-version
Labels: none

README.md の更新
  README.md
Labels: documentation

README.md の更新
  README.md
Labels: documentation

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

`yarn upgrade --latest && yarn build` (#2556)
  website/yarn.lock
Labels: website

upgrade bundler deps (#2555)
  macos/Gemfile.lock
Labels: mac, fastlane

Prepare for new Release 6.83.0+181
  pubspec.yaml
Labels: none

Prepare for new Release 6.83.0+181 (#2557)
  pubspec.yaml
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/package.json
  website/yarn.lock
Labels: website

upgrade bundler deps (#2559)
  macos/Gemfile.lock
Labels: mac, fastlane

flutter pub upgrade --major-versions --tighten
  pubspec.lock
  pubspec.yaml
Labels: none

`yarn upgrade --latest && yarn build` (#2560)
  website/package.json
  website/yarn.lock
Labels: website

flutter pub upgrade --major-versions --tighten (#2561)
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade nodejs version
  .node-version
Labels: none

upgrade ruby and bundler version
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade nodejs version (#2563)
  .node-version
Labels: none

upgrade ruby and bundler version (#2564)
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade bundler deps (#2565)
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build` (#2566)
  website/yarn.lock
Labels: website
