Repository sensuikan1973/pedax, changes with the labels that .github/labeler.yml gives for each.
All labels: mac, linux, windows, website, libedax, GitHub Actions, codecov, documentation, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade flutter dependencies
  pubspec.lock
  pubspec.yaml
Labels: none

`yarn upgrade --latest && yarn build` (#2761)
  website/yarn.lock
Labels: website

upgrade flutter dependencies (#2762)
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade bundler deps (#2760)
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade nodejs version
  .node-version
Labels: none

upgrade nodejs version (#2764)
  .node-version
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade bundler deps (#2766)
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade flutter dependencies
  pubspec.lock
Labels: none

`yarn upgrade --latest && yarn build` (#2767)
  website/yarn.lock
Labels: website

upgrade flutter dependencies (#2768)
  pubspec.lock
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade flutter dependencies
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade bundler deps (#2769)
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build` (#2770)
  website/yarn.lock
Labels: website

upgrade flutter dependencies (#2771)
  pubspec.lock
  pubspec.yaml
Labels: none

Prepare for new Release 6.103.0+201
  pubspec.yaml
Labels: none

Prepare for new Release 6.103.0+201 (#2772)
  pubspec.yaml
Labels: none

Prepare for new Release 6.104.0+202
  pubspec.yaml
Labels: none

Prepare for new Release 6.104.0+202 (#2776)
  pubspec.yaml
Labels: none

mild fix l10n
  .vscode/settings.json
  lib/l10n/app_en.arb
  lib/l10n/app_ja.arb
Labels: none

supported locales
  lib/app.dart
  test/arrange_discs_mode_test.dart
  test/launch_app_with_empty_file_path_test.dart
  test/menu_event_test.dart
  test/play_game_test.dart
Labels: none

upgrade flutter dependencies
  assets/libedax/dll/libedax-x64.dll
  assets/libedax/dll/libedax.so
  macos/libedax.universal.dylib
  pubspec.lock
  pubspec.yaml
Labels: mac, linux, windows, libedax

upgrade flutter dependencies (#2780)
  assets/libedax/dll/libedax-x64.dll
  assets/libedax/dll/libedax.so
  macos/libedax.universal.dylib
  pubspec.lock
  pubspec.yaml
Labels: mac, linux, windows, libedax

mild fix l10n (#2779)
  .vscode/settings.json
  assets/libedax/dll/libedax-x64.dll
  assets/libedax/dll/libedax.so
  lib/app.dart
  lib/l10n/app_en.arb
  lib/l10n/app_ja.arb
  macos/libedax.universal.dylib
  pubspec.lock
  pubspec.yaml
  test/arrange_discs_mode_test.dart
  test/launch_app_with_empty_file_path_test.dart
  test/menu_event_test.dart
  test/play_game_test.dart
Labels: mac, linux, windows, libedax

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

`yarn upgrade --latest && yarn build` (#2784)
  website/yarn.lock
Labels: website

upgrade nodejs version
  .node-version
Labels: none

upgrade nodejs version (#2785)
  .node-version
Labels: none

upgrade ruby and bundler version
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade ruby and bundler version (#2787)
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade flutter dependencies
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade flutter dependencies (#2789)
  pubspec.lock
  pubspec.yaml
Labels: none

`yarn upgrade --latest && yarn build` (#2788)
  website/yarn.lock
Labels: website

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

.github/labeler.yml:

---
mac:
  - changed-files:
      - any-glob-to-any-file: macos/**/*
      - any-glob-to-any-file: .github/scripts/macos/**/*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh
      - any-glob-to-any-file: .ruby-version

linux:
  - changed-files:
      - any-glob-to-any-file: linux/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: .github/scripts/linux/**/*

windows:
  - changed-files:
      - any-glob-to-any-file: windows/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: .github/scripts/windows/**/*

website:
  - changed-files:
      - any-glob-to-any-file: website/**/*

libedax:
  - changed-files:
      - any-glob-to-any-file: scripts/fetch_libedax_assets.sh
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: macos/libedax.universal.dylib

GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md

fastlane:
  - changed-files:
      - any-glob-to-any-file: macos/fastlane/**/*
      - any-glob-to-any-file: macos/Gemfile*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh
