Repository sensuikan1973/pedax, changes with the labels that .github/labeler.yml gives for each.
All labels: mac, linux, windows, website, libedax, GitHub Actions, codecov, documentation, fastlane

.github/labeler.yml:

---
mac:
  - changed-files:
      - any-glob-to-any-file: macos/**/*
      - any-glob-to-any-file: .github/scripts/macos/**/*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh
      - any-glob-to-any-file: .ruby-version

linux:
  - changed-files:
      - any-glob-to-any-file: linux/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: .github/scripts/linux/**/*

windows:
  - changed-files:
      - any-glob-to-any-file: windows/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: .github/scripts/windows/**/*

website:
  - changed-files:
      - any-glob-to-any-file: website/**/*

libedax:
  - changed-files:
      - any-glob-to-any-file: scripts/fetch_libedax_assets.sh
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: macos/libedax.universal.dylib

GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md

fastlane:
  - changed-files:
      - any-glob-to-any-file: macos/fastlane/**/*
      - any-glob-to-any-file: macos/Gemfile*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh

Prepare for new Release 6.115.0+214
  pubspec.yaml
Labels: none

Prepare for new Release 6.115.0+214 (#2898)
  pubspec.yaml
Labels: none

platform specific asset top reduce app size
  pubspec.yaml
Labels: none

platform specific asset top reduce app size (#2900)
  pubspec.yaml
Labels: none

Prepare for new Release 6.116.0+215
  pubspec.yaml
Labels: none

Prepare for new Release 6.116.0+215 (#2902)
  pubspec.yaml
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade bundler deps (#2903)
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build` (#2904)
  website/yarn.lock
Labels: website

upgrade nodejs version
  .node-version
Labels: none

upgrade nodejs version (#2905)
  .node-version
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade bundler deps (#2906)
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build` (#2907)
  website/yarn.lock
Labels: website

upgrade ruby and bundler version
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade ruby and bundler version (#2910)
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade bundler deps (#2912)
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade bundler deps (#2915)
  macos/Gemfile.lock
Labels: mac, fastlane

Prepare for new Release 6.117.0+216
  pubspec.yaml
Labels: none

Prepare for new Release 6.117.0+216 (#2916)
  pubspec.yaml
Labels: none

upgrade ruby and bundler version
  .ruby-version
Labels: mac

upgrade ruby and bundler version (#2917)
  .ruby-version
Labels: mac

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade bundler deps (#2918)
  macos/Gemfile.lock
Labels: mac, fastlane

Prepare for new Release 6.118.0+217
  pubspec.yaml
Labels: none

Prepare for new Release 6.118.0+217 (#2920)
  pubspec.yaml
Labels: none

upgrade ruby and bundler version
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade ruby and bundler version (#2921)
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/package.json
  website/yarn.lock
Labels: website

upgrade bundler deps (#2922)
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build` (#2923)
  website/package.json
  website/yarn.lock
Labels: website

add gitattributes
  .gitattributes
Labels: none

add vscode extension
  .vscode/extensions.json
Labels: none

Revert "add vscode extension"
  .vscode/extensions.json
Labels: none

mild enhancements of CI/CD (#2924)
  .gitattributes
Labels: none
