Repository sensuikan1973/pedax, changes with the labels that .github/labeler.yml gives for each.
All labels: mac, linux, windows, website, libedax, GitHub Actions, codecov, documentation, fastlane

.github/labeler.yml:

---
mac:
  - changed-files:
      - any-glob-to-any-file: macos/**/*
      - any-glob-to-any-file: .github/scripts/macos/**/*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh
      - any-glob-to-any-file: .ruby-version

linux:
  - changed-files:
      - any-glob-to-any-file: linux/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: .github/scripts/linux/**/*

windows:
  - changed-files:
      - any-glob-to-any-file: windows/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: .github/scripts/windows/**/*

website:
  - changed-files:
      - any-glob-to-any-file: website/**/*

libedax:
  - changed-files:
      - any-glob-to-any-file: scripts/fetch_libedax_assets.sh
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: macos/libedax.universal.dylib

GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md

fastlane:
  - changed-files:
      - any-glob-to-any-file: macos/fastlane/**/*
      - any-glob-to-any-file: macos/Gemfile*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh

flutter pub upgrade --major-versions --tighten (#2607)
  pubspec.lock
  pubspec.yaml
Labels: none

Create config.yaml
  .gemini/config.yaml
Labels: none

Update config.yaml
  .gemini/config.yaml
Labels: none

Create config.yaml (#2608)
  .gemini/config.yaml
Labels: none

flutter pub upgrade --major-versions --tighten
  pubspec.lock
Labels: none

flutter pub upgrade --major-versions --tighten (#2609)
  pubspec.lock
Labels: none

flutter pub upgrade --major-versions --tighten
  pubspec.lock
  pubspec.yaml
Labels: none

fix analyzer issue
  lib/home/setting_dialogs/bestpath_count_availability_setting_dialog.dart
  lib/home/setting_dialogs/book_file_path_setting_dialog.dart
  lib/home/setting_dialogs/hint_step_by_step_setting_dialog.dart
Labels: none

`flutter pub upgrade --major-versions --tighten` (#2610)
  lib/home/setting_dialogs/bestpath_count_availability_setting_dialog.dart
  lib/home/setting_dialogs/book_file_path_setting_dialog.dart
  lib/home/setting_dialogs/hint_step_by_step_setting_dialog.dart
  pubspec.lock
  pubspec.yaml
Labels: none

flutter pub upgrade --major-versions --tighten
  macos/Podfile.lock
  pubspec.lock
  pubspec.yaml
Labels: mac

flutter pub upgrade --major-versions --tighten (#2611)
  macos/Podfile.lock
  pubspec.lock
  pubspec.yaml
Labels: mac

flutter build macos
  macos/Podfile.lock
Labels: mac

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/package.json
  website/yarn.lock
Labels: website

flutter pub upgrade --major-versions --tighten
  macos/Podfile.lock
Labels: mac

flutter pub upgrade --major-versions --tighten (#2614)
  macos/Podfile.lock
Labels: mac

`yarn upgrade --latest && yarn build` (#2613)
  website/package.json
  website/yarn.lock
Labels: website

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade bundler deps (#2615)
  macos/Gemfile.lock
Labels: mac, fastlane

Prepare for new Release 6.88.0+186
  pubspec.yaml
Labels: none

Prepare for new Release 6.88.0+186 (#2617)
  pubspec.yaml
Labels: none

change vscode appearance
  .vscode/settings.json
Labels: none

fix cleaning macos security scope
  lib/engine/options/native/book_file_option.dart
Labels: none

l
  lib/engine/options/native/book_file_option.dart
Labels: none

fix Hintnt to Hint
  lib/engine/edax_server.dart
Labels: none

fix scpecified -> specified
  lib/engine/options/native/book_file_option.dart
  lib/engine/options/native/eval_file_option.dart
Labels: none

shutdowned -> shutdown
  lib/engine/edax_server.dart
Labels: none

algorism -> algorithm
  lib/engine/api/count_bestpath.dart
Labels: none

fix cleaning macos security scope (#2618)
  lib/engine/options/native/book_file_option.dart
Labels: none

fix typo (#2619)
  lib/engine/api/count_bestpath.dart
  lib/engine/edax_server.dart
  lib/engine/options/native/book_file_option.dart
  lib/engine/options/native/eval_file_option.dart
Labels: none

Prepare for new Release 6.89.0+187
  pubspec.yaml
Labels: none

Prepare for new Release 6.89.0+187 (#2620)
  pubspec.yaml
Labels: none

flutter pub upgrade --major-versions --tighten
  pubspec.lock
Labels: none

flutter pub upgrade --major-versions --tighten (#2621)
  pubspec.lock
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/package.json
  website/yarn.lock
Labels: website

upgrade bundler deps (#2628)
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build` (#2629)
  website/package.json
  website/yarn.lock
Labels: website

fix typo
  scripts/fetch_libedax_assets.sh
Labels: libedax

upgrade nodejs version
  .node-version
Labels: none
