Repository sensuikan1973/pedax, changes with the labels that .github/labeler.yml gives for each.
All labels: mac, linux, windows, website, libedax, GitHub Actions, codecov, documentation, fastlane

`yarn upgrade --latest && yarn build` (#2587)
  website/yarn.lock
Labels: website

flutter pub upgrade --major-versions --tighten (#2588)
  pubspec.lock
  pubspec.yaml
Labels: none

flutter pub upgrade --major-versions --tighten
  assets/libedax/dll/libedax-x64.dll
  assets/libedax/dll/libedax.so
  macos/libedax.universal.dylib
  pubspec.lock
  pubspec.yaml
Labels: mac, linux, windows, libedax

flutter pub upgrade --major-versions --tighten (#2589)
  assets/libedax/dll/libedax-x64.dll
  assets/libedax/dll/libedax.so
  macos/libedax.universal.dylib
  pubspec.lock
  pubspec.yaml
Labels: mac, linux, windows, libedax

fix
  .github/workflows/flutter_ci.yaml
  l10n.yaml
Labels: GitHub Actions

fix (#2590)
  .github/workflows/flutter_ci.yaml
  l10n.yaml
Labels: GitHub Actions

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade nodejs version
  .node-version
Labels: none

upgrade bundler deps (#2591)
  macos/Gemfile.lock
Labels: mac, fastlane

flutter pub upgrade --major-versions --tighten
  pubspec.lock
Labels: none

`yarn upgrade --latest && yarn build` (#2592)
  website/yarn.lock
Labels: website

upgrade nodejs version (#2593)
  .node-version
Labels: none

flutter pub upgrade --major-versions --tighten (#2594)
  pubspec.lock
Labels: none

README.md の更新
  README.md
Labels: documentation

upgrade ruby and bundler version
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade ruby and bundler version (#2595)
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade ruby and bundler version
  .ruby-version
Labels: mac

upgrade ruby and bundler version (#2596)
  .ruby-version
Labels: mac

upgrade nodejs version
  .node-version
Labels: none

upgrade nodejs version (#2597)
  .node-version
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade bundler deps (#2598)
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build` (#2599)
  website/yarn.lock
Labels: website

Prepare for new Release 6.87.0+185
  pubspec.yaml
Labels: none

Prepare for new Release 6.87.0+185 (#2600)
  pubspec.yaml
Labels: none

change typos workflow
  .github/workflows/typos.yaml
  .typos.toml
Labels: GitHub Actions

change typos workflow (#2601)
  .github/workflows/typos.yaml
  .typos.toml
Labels: GitHub Actions

Update README.md
  README.md
Labels: documentation

bump Flutter/Dart SDK with upgrading deps
  pubspec.lock
  pubspec.yaml
Labels: none

dart format .
  lib/board/pedax_board.dart
  lib/board/square.dart
  lib/engine/edax_server.dart
  lib/home/home.dart
  lib/main.dart
  test_helper/board_finder.dart
Labels: none

bump Flutter/Dart SDK with upgrading deps (#2602)
  lib/board/pedax_board.dart
  lib/board/square.dart
  lib/engine/edax_server.dart
  lib/home/home.dart
  lib/main.dart
  pubspec.lock
  pubspec.yaml
  test_helper/board_finder.dart
Labels: none

upgrade nodejs version
  .node-version
Labels: none

upgrade nodejs version (#2604)
  .node-version
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

flutter pub upgrade --major-versions --tighten
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade bundler deps (#2605)
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build` (#2606)
  website/yarn.lock
Labels: website

.github/labeler.yml:

---
mac:
  - changed-files:
      - any-glob-to-any-file: macos/**/*
      - any-glob-to-any-file: .github/scripts/macos/**/*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh
      - any-glob-to-any-file: .ruby-version

linux:
  - changed-files:
      - any-glob-to-any-file: linux/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: .github/scripts/linux/**/*

windows:
  - changed-files:
      - any-glob-to-any-file: windows/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: .github/scripts/windows/**/*

website:
  - changed-files:
      - any-glob-to-any-file: website/**/*

libedax:
  - changed-files:
      - any-glob-to-any-file: scripts/fetch_libedax_assets.sh
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: macos/libedax.universal.dylib

GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md

fastlane:
  - changed-files:
      - any-glob-to-any-file: macos/fastlane/**/*
      - any-glob-to-any-file: macos/Gemfile*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh
