Repository sensuikan1973/pedax, changes with the labels that .github/labeler.yml gives for each.
All labels: mac, linux, windows, website, libedax, GitHub Actions, codecov, documentation, fastlane

flutter pub upgrade --major-versions --tighten (#2663)
  pubspec.lock
  pubspec.yaml
Labels: none

flutter pub upgrade --major-versions --tighten
  pubspec.lock
  pubspec.yaml
Labels: none

flutter pub upgrade --major-versions --tighten (#2664)
  pubspec.lock
  pubspec.yaml
Labels: none

flutter pub upgrade --major-versions --tighten
  assets/libedax/dll/libedax-x64.dll
  assets/libedax/dll/libedax.so
  macos/libedax.universal.dylib
  pubspec.lock
  pubspec.yaml
Labels: mac, linux, windows, libedax

flutter pub upgrade --major-versions --tighten (#2665)
  assets/libedax/dll/libedax-x64.dll
  assets/libedax/dll/libedax.so
  macos/libedax.universal.dylib
  pubspec.lock
  pubspec.yaml
Labels: mac, linux, windows, libedax

Prepare for new Release 6.92.0+190
  pubspec.yaml
Labels: none

Prepare for new Release 6.92.0+190 (#2666)
  pubspec.yaml
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade bundler deps (#2667)
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build` (#2668)
  website/yarn.lock
Labels: website

Update flutter_deps.yaml
  .github/workflows/flutter_deps.yaml
Labels: GitHub Actions

rm Podflie.lock && flutter build macos
  macos/Podfile.lock
  macos/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
Labels: mac

flutter pub upgrade --major-versions --tighten
  pubspec.lock
Labels: none

upgrade deps (#2670)
  macos/Podfile.lock
  macos/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  pubspec.lock
Labels: mac

upgrade flutter dependencies
  macos/Podfile.lock
Labels: mac

upgrade flutter dependencies (#2671)
  macos/Podfile.lock
Labels: mac

upgrade nodejs version
  .node-version
Labels: none

upgrade nodejs version (#2672)
  .node-version
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade bundler deps (#2673)
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade flutter dependencies
  macos/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  pubspec.lock
  pubspec.yaml
Labels: mac

`yarn upgrade --latest && yarn build` (#2674)
  website/yarn.lock
Labels: website

upgrade flutter dependencies (#2675)
  macos/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  pubspec.lock
  pubspec.yaml
Labels: mac

upgrade ruby and bundler version
  .ruby-version
Labels: mac

upgrade ruby and bundler version (#2676)
  .ruby-version
Labels: mac

upgrade flutter dependencies
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade flutter dependencies (#2677)
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade nodejs version
  .node-version
Labels: none

upgrade ruby and bundler version
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade nodejs version (#2678)
  .node-version
Labels: none

upgrade ruby and bundler version (#2679)
  macos/Gemfile.lock
Labels: mac, fastlane

Prepare for new Release 6.93.0+191
  pubspec.yaml
Labels: none

Prepare for new Release 6.93.0+191 (#2680)
  pubspec.yaml
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

`yarn upgrade --latest && yarn build` (#2682)
  website/yarn.lock
Labels: website

upgrade bundler deps (#2681)
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade ruby and bundler version
  macos/Gemfile.lock
Labels: mac, fastlane

.github/labeler.yml:

---
mac:
  - changed-files:
      - any-glob-to-any-file: macos/**/*
      - any-glob-to-any-file: .github/scripts/macos/**/*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh
      - any-glob-to-any-file: .ruby-version

linux:
  - changed-files:
      - any-glob-to-any-file: linux/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: .github/scripts/linux/**/*

windows:
  - changed-files:
      - any-glob-to-any-file: windows/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: .github/scripts/windows/**/*

website:
  - changed-files:
      - any-glob-to-any-file: website/**/*

libedax:
  - changed-files:
      - any-glob-to-any-file: scripts/fetch_libedax_assets.sh
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: macos/libedax.universal.dylib

GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md

fastlane:
  - changed-files:
      - any-glob-to-any-file: macos/fastlane/**/*
      - any-glob-to-any-file: macos/Gemfile*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh
