Repository sensuikan1973/pedax, changes with the labels that .github/labeler.yml gives for each.
All labels: mac, linux, windows, website, libedax, GitHub Actions, codecov, documentation, fastlane

.github/labeler.yml:

---
mac:
  - changed-files:
      - any-glob-to-any-file: macos/**/*
      - any-glob-to-any-file: .github/scripts/macos/**/*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh
      - any-glob-to-any-file: .ruby-version

linux:
  - changed-files:
      - any-glob-to-any-file: linux/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: .github/scripts/linux/**/*

windows:
  - changed-files:
      - any-glob-to-any-file: windows/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: .github/scripts/windows/**/*

website:
  - changed-files:
      - any-glob-to-any-file: website/**/*

libedax:
  - changed-files:
      - any-glob-to-any-file: scripts/fetch_libedax_assets.sh
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: macos/libedax.universal.dylib

GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md

fastlane:
  - changed-files:
      - any-glob-to-any-file: macos/fastlane/**/*
      - any-glob-to-any-file: macos/Gemfile*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade bundler deps (#2820)
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade flutter dependencies
  macos/Flutter/GeneratedPluginRegistrant.swift
  pubspec.lock
  pubspec.yaml
Labels: mac

`yarn upgrade --latest && yarn build` (#2821)
  website/yarn.lock
Labels: website

upgrade flutter dependencies (#2822)
  macos/Flutter/GeneratedPluginRegistrant.swift
  pubspec.lock
  pubspec.yaml
Labels: mac

upgrade nodejs version
  .node-version
Labels: none

upgrade nodejs version (#2824)
  .node-version
Labels: none

Prepare for new Release 6.108.0+206
  pubspec.yaml
Labels: none

Prepare for new Release 6.108.0+206 (#2826)
  pubspec.yaml
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade flutter dependencies
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade flutter dependencies (#2830)
  pubspec.lock
  pubspec.yaml
Labels: none

`yarn upgrade --latest && yarn build` (#2829)
  website/yarn.lock
Labels: website

upgrade bundler deps (#2828)
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade ruby and bundler version
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade flutter dependencies
  pubspec.lock
Labels: none

Fix integration test keyboard shortcuts and ensure temporary directory creation for image capture
  integration_test/app_test.dart
  lib/board/pedax_shortcuts/capture_board_image_shortcut.dart
Labels: none

Fix integration test keyboard shortcuts and ensure temporary directory creation for image capture (#2836)
  integration_test/app_test.dart
  lib/board/pedax_shortcuts/capture_board_image_shortcut.dart
Labels: none

upgrade flutter dependencies (#2834)
  pubspec.lock
Labels: none

upgrade ruby and bundler version (#2833)
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/package.json
  website/yarn.lock
Labels: website

upgrade bundler deps (#2837)
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade flutter dependencies
  pubspec.lock
Labels: none

`yarn upgrade --latest && yarn build` (#2838)
  website/package.json
  website/yarn.lock
Labels: website

upgrade flutter dependencies (#2839)
  pubspec.lock
Labels: none

upgrade nodejs version
  .node-version
Labels: none

upgrade nodejs version (#2842)
  .node-version
Labels: none

upgrade ruby and bundler version
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade ruby and bundler version (#2843)
  macos/Gemfile.lock
Labels: mac, fastlane

flutter pub upgrade --tighten
  pubspec.lock
  pubspec.yaml
Labels: none

Prepare for new Release 6.109.0+207
  pubspec.yaml
Labels: none

Update prepare_to_pack.sh with additional reference
  .github/scripts/windows/prepare_to_pack.sh
Labels: windows, GitHub Actions

Prepare for new Release 6.109.0+207 (#2844)
  pubspec.yaml
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade bundler deps (#2846)
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build` (#2847)
  website/yarn.lock
Labels: website

Update typos action to use latest master branch
  .github/workflows/typos.yaml
Labels: GitHub Actions
