Repository sensuikan1973/pedax, changes with the labels that .github/labeler.yml gives for each.
All labels: mac, linux, windows, website, libedax, GitHub Actions, codecov, documentation, fastlane

.github/labeler.yml:

---
mac:
  - changed-files:
      - any-glob-to-any-file: macos/**/*
      - any-glob-to-any-file: .github/scripts/macos/**/*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh
      - any-glob-to-any-file: .ruby-version

linux:
  - changed-files:
      - any-glob-to-any-file: linux/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: .github/scripts/linux/**/*

windows:
  - changed-files:
      - any-glob-to-any-file: windows/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: .github/scripts/windows/**/*

website:
  - changed-files:
      - any-glob-to-any-file: website/**/*

libedax:
  - changed-files:
      - any-glob-to-any-file: scripts/fetch_libedax_assets.sh
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: macos/libedax.universal.dylib

GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md

fastlane:
  - changed-files:
      - any-glob-to-any-file: macos/fastlane/**/*
      - any-glob-to-any-file: macos/Gemfile*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh

upgrade bundler deps (#2732)
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade flutter dependencies (#2734)
  pubspec.lock
  pubspec.yaml
Labels: none

`yarn upgrade --latest && yarn build` (#2733)
  website/yarn.lock
Labels: website

upgrade flutter dependencies
  pubspec.lock
Labels: none

upgrade flutter dependencies (#2735)
  pubspec.lock
Labels: none

Prepare for new Release 6.100.0+198
  pubspec.yaml
Labels: none

Prepare for new Release 6.100.0+198 (#2736)
  pubspec.yaml
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade nodejs version
  .node-version
Labels: none

`yarn upgrade --latest && yarn build`
  website/package.json
  website/yarn.lock
Labels: website

upgrade bundler deps (#2738)
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build` (#2740)
  website/package.json
  website/yarn.lock
Labels: website

upgrade nodejs version (#2739)
  .node-version
Labels: none

Prepare for new Release 6.101.0+199
  pubspec.yaml
Labels: none

Prepare for new Release 6.101.0+199 (#2741)
  pubspec.yaml
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/package.json
  website/yarn.lock
Labels: website

upgrade flutter dependencies
  pubspec.lock
Labels: none

upgrade bundler deps (#2743)
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade flutter dependencies (#2745)
  pubspec.lock
Labels: none

`yarn upgrade --latest && yarn build` (#2744)
  website/package.json
  website/yarn.lock
Labels: website

upgrade ruby and bundler version
  .ruby-version
Labels: mac

upgrade ruby and bundler version (#2750)
  .ruby-version
Labels: mac

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade flutter dependencies
  macos/Podfile.lock
  macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  macos/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  pubspec.lock
  pubspec.yaml
Labels: mac

upgrade bundler deps (#2751)
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build` (#2752)
  website/yarn.lock
Labels: website

upgrade flutter dependencies (#2753)
  macos/Podfile.lock
  macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  macos/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  pubspec.lock
  pubspec.yaml
Labels: mac

Prepare for new Release 6.102.0+200
  pubspec.yaml
Labels: none

Prepare for new Release 6.102.0+200 (#2754)
  pubspec.yaml
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/package.json
  website/yarn.lock
Labels: website

upgrade flutter dependencies
  pubspec.lock
Labels: none

upgrade bundler deps (#2756)
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build` (#2757)
  website/package.json
  website/yarn.lock
Labels: website

upgrade flutter dependencies (#2758)
  pubspec.lock
Labels: none

upgrade nodejs version
  .node-version
Labels: none

upgrade nodejs version (#2759)
  .node-version
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane
