Repository sensuikan1973/pedax, changes with the labels that .github/labeler.yml gives for each.
All labels: mac, linux, windows, website, libedax, GitHub Actions, codecov, documentation, fastlane

.github/labeler.yml:

---
mac:
  - changed-files:
      - any-glob-to-any-file: macos/**/*
      - any-glob-to-any-file: .github/scripts/macos/**/*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh
      - any-glob-to-any-file: .ruby-version

linux:
  - changed-files:
      - any-glob-to-any-file: linux/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: .github/scripts/linux/**/*

windows:
  - changed-files:
      - any-glob-to-any-file: windows/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: .github/scripts/windows/**/*

website:
  - changed-files:
      - any-glob-to-any-file: website/**/*

libedax:
  - changed-files:
      - any-glob-to-any-file: scripts/fetch_libedax_assets.sh
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: macos/libedax.universal.dylib

GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md

fastlane:
  - changed-files:
      - any-glob-to-any-file: macos/fastlane/**/*
      - any-glob-to-any-file: macos/Gemfile*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh

upgrade flutter dependencies
  pubspec.lock
Labels: none

`yarn upgrade --latest && yarn build` (#2792)
  website/yarn.lock
Labels: website

upgrade flutter dependencies (#2793)
  pubspec.lock
Labels: none

`yarn upgrade --latest && yarn build`
  website/package.json
  website/yarn.lock
Labels: website

upgrade flutter dependencies
  assets/libedax/dll/libedax-x64.dll
  assets/libedax/dll/libedax.so
  macos/libedax.universal.dylib
  pubspec.lock
  pubspec.yaml
Labels: mac, linux, windows, libedax

`yarn upgrade --latest && yarn build` (#2794)
  website/package.json
  website/yarn.lock
Labels: website

upgrade flutter dependencies (#2795)
  assets/libedax/dll/libedax-x64.dll
  assets/libedax/dll/libedax.so
  macos/libedax.universal.dylib
  pubspec.lock
  pubspec.yaml
Labels: mac, linux, windows, libedax

Prepare for new Release 6.105.0+203
  pubspec.yaml
Labels: none

Prepare for new Release 6.105.0+203 (#2796)
  pubspec.yaml
Labels: none

`yarn upgrade --latest && yarn build`
  website/package.json
  website/yarn.lock
Labels: website

upgrade flutter dependencies
  pubspec.lock
  pubspec.yaml
Labels: none

`yarn upgrade --latest && yarn build` (#2798)
  website/package.json
  website/yarn.lock
Labels: website

upgrade flutter dependencies (#2799)
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade ruby and bundler version
  .ruby-version
Labels: mac

upgrade ruby and bundler version (#2802)
  .ruby-version
Labels: mac

Prepare for new Release 6.106.0+204
  pubspec.yaml
Labels: none

Prepare for new Release 6.106.0+204 (#2804)
  pubspec.yaml
Labels: none

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade flutter dependencies
  macos/Podfile.lock
  pubspec.lock
  pubspec.yaml
Labels: mac

`yarn upgrade --latest && yarn build` (#2805)
  website/yarn.lock
Labels: website

upgrade flutter dependencies (#2806)
  macos/Podfile.lock
  pubspec.lock
  pubspec.yaml
Labels: mac

upgrade flutter dependencies
  assets/libedax/dll/libedax-x64.dll
  assets/libedax/dll/libedax.so
  macos/libedax.universal.dylib
  pubspec.lock
  pubspec.yaml
Labels: mac, linux, windows, libedax

upgrade flutter dependencies (#2807)
  assets/libedax/dll/libedax-x64.dll
  assets/libedax/dll/libedax.so
  macos/libedax.universal.dylib
  pubspec.lock
  pubspec.yaml
Labels: mac, linux, windows, libedax

upgrade ruby and bundler version
  .ruby-version
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade ruby and bundler version (#2808)
  .ruby-version
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

`yarn upgrade --latest && yarn build` (#2809)
  website/yarn.lock
Labels: website

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

`yarn upgrade --latest && yarn build` (#2813)
  website/yarn.lock
Labels: website

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade flutter dependencies
  pubspec.lock
  pubspec.yaml
Labels: none

`yarn upgrade --latest && yarn build` (#2815)
  website/yarn.lock
Labels: website

upgrade flutter dependencies (#2816)
  pubspec.lock
  pubspec.yaml
Labels: none

Prepare for new Release 6.107.0+205
  pubspec.yaml
Labels: none

Prepare for new Release 6.107.0+205 (#2817)
  pubspec.yaml
Labels: none

upgrade ruby and bundler version
  .ruby-version
Labels: mac

upgrade ruby and bundler version (#2818)
  .ruby-version
Labels: mac

upgrade nodejs version
  .node-version
Labels: none

upgrade nodejs version (#2819)
  .node-version
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane
