Repository sensuikan1973/pedax, changes with the labels that .github/labeler.yml gives for each.
All labels: mac, linux, windows, website, libedax, GitHub Actions, codecov, documentation, fastlane

.github/labeler.yml:

---
mac:
  - changed-files:
      - any-glob-to-any-file: macos/**/*
      - any-glob-to-any-file: .github/scripts/macos/**/*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh
      - any-glob-to-any-file: .ruby-version

linux:
  - changed-files:
      - any-glob-to-any-file: linux/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: .github/scripts/linux/**/*

windows:
  - changed-files:
      - any-glob-to-any-file: windows/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: .github/scripts/windows/**/*

website:
  - changed-files:
      - any-glob-to-any-file: website/**/*

libedax:
  - changed-files:
      - any-glob-to-any-file: scripts/fetch_libedax_assets.sh
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: macos/libedax.universal.dylib

GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md

fastlane:
  - changed-files:
      - any-glob-to-any-file: macos/fastlane/**/*
      - any-glob-to-any-file: macos/Gemfile*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh

upgrade nodejs version (#2631)
  .node-version
Labels: none

Prepare for new Release 6.90.0+188
  pubspec.yaml
Labels: none

Prepare for new Release 6.90.0+188 (#2632)
  pubspec.yaml
Labels: none

flutter pub upgrade --major-versions --tighten
  pubspec.lock
Labels: none

flutter pub upgrade --major-versions --tighten (#2634)
  pubspec.lock
Labels: none

Update config.yaml
  .gemini/config.yaml
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade bundler deps (#2635)
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build` (#2636)
  website/yarn.lock
Labels: website

flutter pub upgrade --major-versions --tighten
  linux/flutter/generated_plugins.cmake
  macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  macos/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  pubspec.lock
  pubspec.yaml
  windows/flutter/generated_plugins.cmake
Labels: mac, linux, windows

flutter pub upgrade --major-versions --tighten (#2637)
  linux/flutter/generated_plugins.cmake
  macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  macos/Runner.xcworkspace/xcshareddata/swiftpm/Package.resolved
  pubspec.lock
  pubspec.yaml
  windows/flutter/generated_plugins.cmake
Labels: mac, linux, windows

fix
  .jules/setup.sh
  setup_flutter.sh
Labels: none

x
  setup_flutter.sh
Labels: none

x
  .jules/setup.sh
  setup_flutter.sh
Labels: none

x
  .jules/setup.sh
Labels: none

configuration for google jules (#2650)
  .jules/setup.sh
Labels: none

fix
  .jules/setup.sh
Labels: none

fix
  .jules/setup.sh
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade bundler deps (#2651)
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build` (#2652)
  website/yarn.lock
Labels: website

Update setup.sh
  .jules/setup.sh
Labels: none

dart fix --apply
  test/first_launch_app_test.dart
  test/play_game_test.dart
Labels: none

prefer_mixin
  test/widget_test_helper/fake_file_selector.dart
  test/widget_test_helper/libedax_assets.dart
Labels: none

prefer_mixin (#2654)
  test/widget_test_helper/fake_file_selector.dart
  test/widget_test_helper/libedax_assets.dart
Labels: none

fix // ignore: deprecated_member_use
  test/arrange_discs_mode_test.dart
  test/first_launch_app_test.dart
  test/launch_app_with_empty_file_path_test.dart
  test/menu_event_test.dart
  test/play_game_test.dart
Labels: none

fix // ignore: deprecated_member_use (#2655)
  test/arrange_discs_mode_test.dart
  test/first_launch_app_test.dart
  test/launch_app_with_empty_file_path_test.dart
  test/menu_event_test.dart
  test/play_game_test.dart
Labels: none

upgrade nodejs version
  .node-version
Labels: none

upgrade nodejs version (#2657)
  .node-version
Labels: none

flutter pub upgrade --major-versions --tighten
  pubspec.lock
  pubspec.yaml
Labels: none

flutter pub upgrade --major-versions --tighten (#2658)
  pubspec.lock
  pubspec.yaml
Labels: none

Prepare for new Release 6.91.0+189
  pubspec.yaml
Labels: none

Prepare for new Release 6.91.0+189 (#2659)
  pubspec.yaml
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade bundler deps (#2660)
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build` (#2661)
  website/yarn.lock
Labels: website

flutter pub upgrade --major-versions --tighten
  pubspec.lock
  pubspec.yaml
Labels: none
