Repository sensuikan1973/pedax, changes with the labels that .github/labeler.yml gives for each.
All labels: mac, linux, windows, website, libedax, GitHub Actions, codecov, documentation, fastlane

upgrade flutter dependencies
  pubspec.lock
Labels: none

upgrade flutter dependencies (#2873)
  pubspec.lock
Labels: none

upgrade flutter dependencies
  assets/libedax/dll/libedax-x64.dll
  assets/libedax/dll/libedax.so
  macos/libedax.universal.dylib
  pubspec.lock
  pubspec.yaml
Labels: mac, linux, windows, libedax

upgrade flutter dependencies (#2874)
  assets/libedax/dll/libedax-x64.dll
  assets/libedax/dll/libedax.so
  macos/libedax.universal.dylib
  pubspec.lock
  pubspec.yaml
Labels: mac, linux, windows, libedax

Prepare for new Release 6.113.0+211 (#2872)
  pubspec.yaml
Labels: none

upgrade nodejs version
  .node-version
Labels: none

upgrade nodejs version
  .node-version
Labels: none

upgrade flutter dependencies
  pubspec.lock
Labels: none

upgrade flutter dependencies (#2878)
  pubspec.lock
Labels: none

upgrade nodejs version
  .node-version
Labels: none

upgrade nodejs version (#2879)
  .node-version
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade flutter dependencies
  pubspec.lock
Labels: none

upgrade bundler deps (#2880)
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build` (#2881)
  website/yarn.lock
Labels: website

upgrade flutter dependencies (#2882)
  pubspec.lock
Labels: none

Prepare for new Release 6.113.1+212
  pubspec.yaml
Labels: none

Prepare for new Release 6.113.1+212 (#2883)
  pubspec.yaml
Labels: none

upgrade nodejs version
  .node-version
Labels: none

upgrade ruby and bundler version
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade nodejs version (#2884)
  .node-version
Labels: none

upgrade ruby and bundler version (#2885)
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade bundler deps (#2886)
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build` (#2887)
  website/yarn.lock
Labels: website

upgrade ruby and bundler version
  .ruby-version
Labels: mac

upgrade ruby and bundler version (#2889)
  .ruby-version
Labels: mac

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade bundler deps (#2891)
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build` (#2892)
  website/yarn.lock
Labels: website

Prepare for new Release 6.114.0+213
  pubspec.yaml
Labels: none

Prepare for new Release 6.114.0+213 (#2893)
  pubspec.yaml
Labels: none

upgrade nodejs version
  .node-version
Labels: none

upgrade ruby and bundler version
  macos/Gemfile.lock
Labels: mac, fastlane

Fix color theme setting in VSCode configuration
  .vscode/settings.json
Labels: none

upgrade nodejs version (#2895)
  .node-version
Labels: none

upgrade ruby and bundler version (#2896)
  macos/Gemfile.lock
Labels: mac, fastlane

.github/labeler.yml:

---
mac:
  - changed-files:
      - any-glob-to-any-file: macos/**/*
      - any-glob-to-any-file: .github/scripts/macos/**/*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh
      - any-glob-to-any-file: .ruby-version

linux:
  - changed-files:
      - any-glob-to-any-file: linux/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: .github/scripts/linux/**/*

windows:
  - changed-files:
      - any-glob-to-any-file: windows/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: .github/scripts/windows/**/*

website:
  - changed-files:
      - any-glob-to-any-file: website/**/*

libedax:
  - changed-files:
      - any-glob-to-any-file: scripts/fetch_libedax_assets.sh
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: macos/libedax.universal.dylib

GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md

fastlane:
  - changed-files:
      - any-glob-to-any-file: macos/fastlane/**/*
      - any-glob-to-any-file: macos/Gemfile*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh
