Repository sensuikan1973/pedax, changes with the labels that .github/labeler.yml gives for each.
All labels: mac, linux, windows, website, libedax, GitHub Actions, codecov, documentation, fastlane

.github/labeler.yml:

---
mac:
  - changed-files:
      - any-glob-to-any-file: macos/**/*
      - any-glob-to-any-file: .github/scripts/macos/**/*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh
      - any-glob-to-any-file: .ruby-version

linux:
  - changed-files:
      - any-glob-to-any-file: linux/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: .github/scripts/linux/**/*

windows:
  - changed-files:
      - any-glob-to-any-file: windows/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: .github/scripts/windows/**/*

website:
  - changed-files:
      - any-glob-to-any-file: website/**/*

libedax:
  - changed-files:
      - any-glob-to-any-file: scripts/fetch_libedax_assets.sh
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: macos/libedax.universal.dylib

GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md

fastlane:
  - changed-files:
      - any-glob-to-any-file: macos/fastlane/**/*
      - any-glob-to-any-file: macos/Gemfile*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh

upgrade ruby and bundler version (#2683)
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade bundler deps (#2684)
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade flutter dependencies
  pubspec.lock
  pubspec.yaml
Labels: none

`yarn upgrade --latest && yarn build` (#2685)
  website/yarn.lock
Labels: website

upgrade flutter dependencies (#2686)
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade flutter dependencies
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade flutter dependencies (#2687)
  pubspec.lock
  pubspec.yaml
Labels: none

Prepare for new Release 6.94.0+192
  pubspec.yaml
Labels: none

Prepare for new Release 6.94.0+192 (#2688)
  pubspec.yaml
Labels: none

upgrade flutter dependencies
  pubspec.lock
Labels: none

upgrade flutter dependencies (#2689)
  pubspec.lock
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/package.json
  website/yarn.lock
Labels: website

upgrade nodejs version
  .node-version
Labels: none

upgrade bundler deps (#2690)
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade nodejs version (#2692)
  .node-version
Labels: none

`yarn upgrade --latest && yarn build` (#2691)
  website/package.json
  website/yarn.lock
Labels: website

upgrade flutter dependencies
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade flutter dependencies (#2694)
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade bundler deps (#2696)
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build` (#2697)
  website/yarn.lock
Labels: website

upgrade flutter dependencies
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade flutter dependencies (#2698)
  pubspec.lock
  pubspec.yaml
Labels: none

Prepare for new Release 6.95.0+193
  pubspec.yaml
Labels: none

Prepare for new Release 6.95.0+193 (#2699)
  pubspec.yaml
Labels: none

upgrade flutter dependencies
  macos/Podfile.lock
  macos/Runner.xcodeproj/project.pbxproj
  pubspec.lock
  pubspec.yaml
Labels: mac

upgrade flutter dependencies (#2702)
  macos/Podfile.lock
  macos/Runner.xcodeproj/project.pbxproj
  pubspec.lock
  pubspec.yaml
Labels: mac

Prepare for new Release 6.96.0+194
  pubspec.yaml
Labels: none

Prepare for new Release 6.96.0+194 (#2703)
  pubspec.yaml
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade nodejs version
  .node-version
Labels: none

upgrade bundler deps (#2704)
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade nodejs version (#2706)
  .node-version
Labels: none

`yarn upgrade --latest && yarn build` (#2705)
  website/yarn.lock
Labels: website

Prepare for new Release 6.97.0+195
  pubspec.yaml
Labels: none
