Repository sensuikan1973/pedax, changes with the labels that .github/labeler.yml gives for each.
All labels: mac, linux, windows, website, libedax, GitHub Actions, codecov, documentation, fastlane

upgrade nodejs version
  .node-version
Labels: none

flutter pub upgrade --tighten
  pubspec.lock
Labels: none

アップグレード Dart と Flutter SDK のバージョン制約
  pubspec.lock
  pubspec.yaml
Labels: none

flutter pub upgrade --tighten (#2850)
  pubspec.lock
  pubspec.yaml
Labels: none

Prepare for new Release 6.110.0+208
  pubspec.yaml
Labels: none

Prepare for new Release 6.110.0+208 (#2851)
  pubspec.yaml
Labels: none

upgrade nodejs version
  .node-version
Labels: none

upgrade nodejs version (#2853)
  .node-version
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade flutter dependencies
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade flutter dependencies (#2856)
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade flutter dependencies
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade bundler deps (#2858)
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build` (#2859)
  website/yarn.lock
Labels: website

upgrade flutter dependencies (#2860)
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade nodejs version
  .node-version
Labels: none

upgrade ruby and bundler version
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade ruby and bundler version (#2862)
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade nodejs version (#2861)
  .node-version
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade bundler deps (#2865)
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade flutter dependencies
  macos/Podfile.lock
  pubspec.lock
  pubspec.yaml
Labels: mac

`yarn upgrade --latest && yarn build` (#2866)
  website/yarn.lock
Labels: website

upgrade flutter dependencies (#2867)
  macos/Podfile.lock
  pubspec.lock
  pubspec.yaml
Labels: mac

Prepare for new Release 6.111.0+209
  pubspec.yaml
Labels: none

Prepare for new Release 6.111.0+209 (#2868)
  pubspec.yaml
Labels: none

Add Windows path handling and validation for file options
  lib/engine/edax_asset.dart
  lib/engine/options/native/eval_file_option.dart
  lib/home/setting_dialogs/book_file_path_setting_dialog.dart
  lib/models/board_notifier.dart
  lib/windows/path.dart
  test/windows/path_test.dart
Labels: none

Update path.dart
  lib/windows/path.dart
Labels: none

Fix isolate management in BoardNotifier to prevent memory leaks
  lib/models/board_notifier.dart
Labels: none

https://www.reddit.com/r/cpp_questions/comments/ov1xqw/comment/h7cyqay/?tl=ja
  lib/engine/edax_asset.dart
  lib/engine/options/native/eval_file_option.dart
  lib/windows/path.dart
  windows/runner/runner.exe.manifest
Labels: windows

Remove Windows path validation and related tests to simplify file path handling
  lib/home/setting_dialogs/book_file_path_setting_dialog.dart
  lib/windows/path.dart
  test/windows/path_test.dart
Labels: none

Remove unnecessary ignore annotation for dynamic type in spawnEdaxServer method
  lib/models/board_notifier.dart
Labels: none

Add Windows path handling and validation for file options (#2870)
  lib/engine/edax_asset.dart
  lib/models/board_notifier.dart
  windows/runner/runner.exe.manifest
Labels: windows

Prepare for new Release 6.112.0+210
  pubspec.yaml
Labels: none

Prepare for new Release 6.112.0+210 (#2871)
  pubspec.yaml
Labels: none

Prepare for new Release 6.113.0+211
  pubspec.yaml
Labels: none

.github/labeler.yml:

---
mac:
  - changed-files:
      - any-glob-to-any-file: macos/**/*
      - any-glob-to-any-file: .github/scripts/macos/**/*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh
      - any-glob-to-any-file: .ruby-version

linux:
  - changed-files:
      - any-glob-to-any-file: linux/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: .github/scripts/linux/**/*

windows:
  - changed-files:
      - any-glob-to-any-file: windows/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: .github/scripts/windows/**/*

website:
  - changed-files:
      - any-glob-to-any-file: website/**/*

libedax:
  - changed-files:
      - any-glob-to-any-file: scripts/fetch_libedax_assets.sh
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: macos/libedax.universal.dylib

GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md

fastlane:
  - changed-files:
      - any-glob-to-any-file: macos/fastlane/**/*
      - any-glob-to-any-file: macos/Gemfile*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh
