Repository sensuikan1973/pedax, changes with the labels that .github/labeler.yml gives for each.
All labels: mac, linux, windows, website, libedax, GitHub Actions, codecov, documentation, fastlane

.github/labeler.yml:

---
mac:
  - changed-files:
      - any-glob-to-any-file: macos/**/*
      - any-glob-to-any-file: .github/scripts/macos/**/*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh
      - any-glob-to-any-file: .ruby-version

linux:
  - changed-files:
      - any-glob-to-any-file: linux/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: .github/scripts/linux/**/*

windows:
  - changed-files:
      - any-glob-to-any-file: windows/**/*
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: .github/scripts/windows/**/*

website:
  - changed-files:
      - any-glob-to-any-file: website/**/*

libedax:
  - changed-files:
      - any-glob-to-any-file: scripts/fetch_libedax_assets.sh
      - any-glob-to-any-file: assets/libedax/dll/libedax.so
      - any-glob-to-any-file: assets/libedax/dll/libedax-x64.dll
      - any-glob-to-any-file: macos/libedax.universal.dylib

GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: .github/workflows/**/*
      - any-glob-to-any-file: .github/scripts/**/*
      - any-glob-to-any-file: .github/dependabot.yml
      - any-glob-to-any-file: .github/labeler.yml
      - any-glob-to-any-file: .github/.typos_config.toml

codecov:
  - changed-files:
      - any-glob-to-any-file: .codecov.yml

documentation:
  - changed-files:
      - any-glob-to-any-file: docs/**/*
      - any-glob-to-any-file: README.md

fastlane:
  - changed-files:
      - any-glob-to-any-file: macos/fastlane/**/*
      - any-glob-to-any-file: macos/Gemfile*
      - any-glob-to-any-file: scripts/deploy_macos_app_to_app_store.sh

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

flutter pub upgrade --major-versions --tighten
  pubspec.lock
Labels: none

upgrade bundler deps (#2568)
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build` (#2569)
  website/yarn.lock
Labels: website

flutter pub upgrade --major-versions --tighten (#2570)
  pubspec.lock
Labels: none

upgrade ruby and bundler version
  macos/Gemfile.lock
Labels: mac, fastlane

upgrade ruby and bundler version (#2571)
  macos/Gemfile.lock
Labels: mac, fastlane

flutter pub upgrade --major-versions --tighten
  assets/libedax/dll/libedax-x64.dll
  assets/libedax/dll/libedax.so
  macos/libedax.universal.dylib
  pubspec.lock
  pubspec.yaml
Labels: mac, linux, windows, libedax

flutter pub upgrade --major-versions --tighten (#2572)
  assets/libedax/dll/libedax-x64.dll
  assets/libedax/dll/libedax.so
  macos/libedax.universal.dylib
  pubspec.lock
  pubspec.yaml
Labels: mac, linux, windows, libedax

Prepare for new Release 6.84.0+182
  pubspec.yaml
Labels: none

Prepare for new Release 6.84.0+182 (#2573)
  pubspec.yaml
Labels: none

upgrade ruby and bundler version
  .ruby-version
Labels: mac

upgrade ruby and bundler version (#2574)
  .ruby-version
Labels: mac

upgrade deps
  macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  pubspec.lock
Labels: mac

bump minimum sdk version
  pubspec.lock
  pubspec.yaml
Labels: none

upgrade deps (#2575)
  macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  pubspec.lock
  pubspec.yaml
Labels: mac

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

`yarn upgrade --latest && yarn build` (#2577)
  website/yarn.lock
Labels: website

flutter pub upgrade --major-versions --tighten
  pubspec.yaml
Labels: none

flutter pub upgrade --major-versions --tighten (#2578)
  pubspec.yaml
Labels: none

upgrade bundler deps (#2576)
  macos/Gemfile.lock
Labels: mac, fastlane

flutter pub upgrade --major-versions --tighten
  pubspec.lock
Labels: none

flutter pub upgrade --major-versions --tighten (#2579)
  pubspec.lock
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade bundler deps (#2580)
  macos/Gemfile.lock
Labels: mac, fastlane

flutter pub upgrade --major-versions --tighten
  pubspec.lock
  pubspec.yaml
Labels: none

`yarn upgrade --latest && yarn build` (#2581)
  website/yarn.lock
Labels: website

flutter pub upgrade --major-versions --tighten (#2582)
  pubspec.lock
  pubspec.yaml
Labels: none

update recommend ext
  .vscode/extensions.json
Labels: none

Prepare for new Release 6.85.0+183
  pubspec.yaml
Labels: none

Prepare for new Release 6.85.0+183 (#2583)
  pubspec.yaml
Labels: none

Prepare for new Release 6.86.0+184
  pubspec.yaml
Labels: none

Prepare for new Release 6.86.0+184 (#2584)
  pubspec.yaml
Labels: none

upgrade bundler deps
  macos/Gemfile.lock
Labels: mac, fastlane

`yarn upgrade --latest && yarn build`
  website/yarn.lock
Labels: website

upgrade bundler deps (#2586)
  macos/Gemfile.lock
Labels: mac, fastlane

flutter pub upgrade --major-versions --tighten
  pubspec.lock
  pubspec.yaml
Labels: none
